.idea/*

vendor/*

config/console.php
config/db.php
config/params.php
config/web.php
config/db_register.php

uploads/*

tests/_output/*
tests/codecept.phar
tests/codeception/_support/_generated
tests/codeception/acceptance.suite.yml
tests/codeception/functional.suite.yml
tests/codeception/unit.suite.yml

composer.phar
